.nav-bar-top {
    background-color: #007882;
    color: white;
    font-size: 16px; 
    a{
        color: #fff;
    }
}



.nav-bar-item {
    padding: 25px;
}

.slide {
    background-color: #A8D0DA;
}

